<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BoyDao">

    <resultMap id="BaseMap" type="com.example.demo.domain.Boy">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="name_cap" property="nameCap" />
    </resultMap>

    <parameterMap id="Boy" type="com.example.demo.domain.Boy"/>

    <sql id="Base_Column_List">
        id, name,name_cap
    </sql>

    <select id="findByName" resultMap="BaseMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from boy
        where name = #{name}
    </select>
    
    
    <insert id="inserBoy" parameterType="com.example.demo.domain.Boy"
            statementType="PREPARED" keyProperty="id" useGeneratedKeys="true">
        INSERT  INTO boy(name,name_cap) VALUES
        (#{name},#{nameCap})
    </insert>

    <select id="selectone" parameterType="int" resultType="com.example.demo.domain.Boy">
        SELECT * FROM  boy
        WHERE  id = #{id}
    </select>

</mapper>
